<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="MainAppController">
  <head>
    <%- include ../partials/head.ejs %>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="/js/main-app.js"></script>
    <base href="/">
  </head>
  <body ui-view></body>
</html>
