<meta charset="utf-8">
<title><%= package.name %></title>
<meta name="version" content="<%= package.version %>">
<meta name="description" content="<%= package.description %>">
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
